<article>
    <div class='article-header'>
        <a href="/work/{{work.id}}/"><h3>{{work.title}}</h3></a>
        {% if work.date_from %}
            <h3>
                <span>{{work.date_from|date:"b 'y"}}</span>
                <span> - </span>
                {% if work.date_to %}
                    <span>{{work.date_to|date:"b 'y"}}</span>
                {% else %}
                    <span>current</span>
                {% endif %}
            </h3>
        {% endif %}
    </div>

    <div class='article-content'>{{work.description|safe}}</div>

    {% if work.url %}
        <div class='article-link'>
            <h4>Project:</h4>
            <a href='{{work.url}}'>{{work.url}}</a>
        </div>
    {% endif %}
    {% if work.github_url %}
        <div class='article-link'>
            <h4>Github:</h4>
            <a href='{{work.github_url}}'>{{work.github_url}}</a>
        </div>
    {% endif %}
</article>
