@import 'colors';

.footer-button {
    border-radius: 5px;
    background-color: $accent-secondary;
    text-align: center;
    height: 60px;
    max-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 22px;
}
