header {
    background-color: $off-white;

    @media screen and (max-width: $break-gt-xs) {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        border-bottom: 1px solid darkgray;
    }

    nav {
        @mixin responsive-content;

        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a:not(:last-child) {
            margin-right: $spacing-sm;
            @media screen and (max-width: $break-gt-xs) {
                margin-right: $spacing-xs;
            }
        }
    }
}
