html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

#hero {
    text-align: center;
    &.index-hero {
        padding: $spacing-xxl 10px;
    }
}
