@import 'colors';
@import 'breakpoints';

html {
    font-family: 'Inconsolata', monospace;
}

.nav-text, .nav-link {
    color: $text;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 20px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 26px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 28px; }
    @media screen and (min-width: $break-lg)                                { font-size: 28px; }
}

#hero-title {
    color: $off-white;
    font-family: 'Montserrat', sans-serif;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 56px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 72px; }
    @media screen and (min-width: $break-md)                                { font-size: 76px; }
}

.section-title {
    color: $text;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 28px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 34px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 42px; }
    @media screen and (min-width: $break-lg)                                { font-size: 52px; }
}

.section-content, .item-content  {
    color: $text;
    text-align: justify;
    line-height: 1.4;
    @media screen and (max-width: $break-gt-xs)                             {
      font-size: 22px;
      ul {
        padding-left: 20px;
      }
    }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 22px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 22px; }
    @media screen and (min-width: $break-lg)                                { font-size: 22px; }
}

.section-link {
    color: $accent;
    font-family: "AvenirNext-Regular", sans-serif;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 26px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 32px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 32px; }
    @media screen and (min-width: $break-lg)                                { font-size: 32px; }
}

.item {
    padding: 12px 0px;
    color: $accent-secondary;
    .item-title, .item-date  {
        font-family: "AvenirNext-Regular", sans-serif;
        @media screen and (max-width: $break-gt-xs)                             { font-size: 22px; }
        @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 24px; }
        @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 28px; }
        @media screen and (min-width: $break-lg)                                { font-size: 28px; }
    }
    .item-title {
        color: $accent;
    }
    .item-link  {
        font-family: "AvenirNext-Regular", sans-serif;
        a {
            color: $external-link;
        }
        @media screen and (max-width: $break-gt-xs)                             { font-size: 22px; }
        @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 22px; }
        @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 24px; }
        @media screen and (min-width: $break-lg)                                { font-size: 24px; }
    }
}

.footer-text {
    color: $accent;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 34px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 42px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 42px; }
    @media screen and (min-width: $break-lg)                                { font-size: 42px; }
}

.footer-button {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 22px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 26px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 28px; }
    @media screen and (min-width: $break-lg)                                { font-size: 28px; }
}
