$monospace-font: 'Inconsolata', monospace;
$header-font: 'Montserrat', sans-serif;

:root { font-size: 100%; }
body {
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: $monospace-font;
    color: $text;
}
h1, h2, h3 {
    font-family: $header-font;
    color: $accent;
}
h1 {
    font-size: 3rem;
    text-transform: lowercase;
}
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 {
    font-size: 1.12rem;
    font-family: $header-font;
    margin: 0.5rem 0;
}
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }
p { margin: 0.5rem 0; }
a {
    color: inherit;
    text-decoration: underline;
}

nav a { text-decoration: none; }
