<div class='item'>
    <div class='item-header' layout-xs='column' layout-gt-sm='row'>
        <h2 class='item-title'>{{ ::work.title }}</h2>
        <span flex></span>
        <h2 class='item-date' ng-if="work.date_from">
            <span>{{ ::work.date_from | date:"MMM ''''yy"}}</span>
            <span> - </span>
            <span ng-if="work.date_to">{{ ::work.date_to | date:"MMM ''''yy"}}</span>
            <span ng-if="!work.date_to">Current</span>
        </h2>
    </div>

    <div class='item-content' ng-bind-html='work.description'></div>

    <div ng-if="work.url" class='item-link' layout-xs="column" layout="row">
        <div>Project:</div>
        <a ng-href='{{ ::work.url }}'>{{ ::work.url }}</a>
    </div>
    <div ng-if="work.github_url" class='item-link' layout-xs="column" layout="row">
        <div>Github:</div>
        <a ng-href='{{ ::work.github_url }}'>{{ ::work.github_url }}</a>
    </div>
</div>
