header {
    background-color: $off-white;

    .navigation {
        height: 50px;
        max-width: 800px;
        margin: 0 auto;

        .nav-link {
            margin: 0px 10px;
        }
    }
}

.section {
    padding: 36px 10px;
    .section-content {
        padding: 12px 12px;
    }
    .section-link-container {
        width: 100%;
        text-align: center;
    }
}

#hero {
    padding: 120px 0px;
    text-align: center;
}

#about {
    background-color: $section-background;
}

