header {
    background-color: $off-white;
    .navigation {
        height: 50px;
        max-width: 800px;
        margin: 0 auto;
    }
}

.nav-link {
    margin: 0px 10px;
}

.block {
    padding: 50px 10px;
}

#hero {
    padding: 120px 0px;
    text-align: center;
}

#about {
    background-color: $section-background;
}
