html {
    font-family: "AvenirNext-Regular";
}

.nav-text, .nav-link {
    color: $text;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 20px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 26px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 28px; }
    @media screen and (min-width: $break-lg)                                { font-size: 28px; }
}

#hero-title {
    color: $accent;
    font-family: "AvenirNext-Bold";
    @media screen and (max-width: $break-gt-xs)                             { font-size: 42px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 72px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 84px; }
    @media screen and (min-width: $break-lg)                                { font-size: 112px; }
}

.section-title {
    color: $text;
    font-family: "AvenirNext-Bold";
    font-size: 28px;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 28px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 34px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 42px; }
    @media screen and (min-width: $break-lg)                                { font-size: 52px; }
}

.section-content, .item-content  {
    color: $text;
    font-size: 24px;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 22px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 26px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 28px; }
    @media screen and (min-width: $break-lg)                                { font-size: 28px; }
}

.section-link {
    color: $accent;
    font-family: "AvenirNext-Regular";
    font-size: 24px;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 26px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 32px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 34px; }
    @media screen and (min-width: $break-lg)                                { font-size: 42px; }
}

.item {
    padding: 12px 0px;
    .item-title, .item-date  {
        color: $accent-secondary;
        font-family: "AvenirNext-Bold";
        font-size: 24px;
        @media screen and (max-width: $break-gt-xs)                             { font-size: 22px; }
        @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 24px; }
        @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 32px; }
        @media screen and (min-width: $break-lg)                                { font-size: 38px; }
    }
}

.footer-text {
    color: $accent;
    font-size: 38px;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 34px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 42px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 42px; }
    @media screen and (min-width: $break-lg)                                { font-size: 48px; }
}

.footer-button {
    color: $white;
    font-family: "AvenirNext-Bold";
    font-size: 34px;
    @media screen and (max-width: $break-gt-xs)                             { font-size: 22px; }
    @media screen and (min-width: $break-sm) and (max-width: $break-gt-sm)  { font-size: 26px; }
    @media screen and (min-width: $break-md) and (max-width: $break-gt-md)  { font-size: 28px; }
    @media screen and (min-width: $break-lg)                                { font-size: 28px; }
}
