{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block hero %}About{% endblock %}
{% block content %}
    <section id='about'>
        <div class='content'>
            <div class='section-content'>
                <p>Jack-of-all-trades software developer with a strong UX focus, from Edinburgh, Scotland.</p>
                <p>Experience in mobile development, web application development, web development. Lucky to have worked for startups, agencies, and larger companies.</p>
                <p>Currently building healthcare tech in Sydney.</p>
            </div>
            </div>
        </div>
    </section>
{% endblock %}
