{% load staticfiles %}
<!DOCTYPE html>
<html ng-app='personalSite'>
    <head>
        <title>{% block title %}Chris Wait{% endblock %}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
        <!-- VENDOR -->
        <link rel='stylesheet' href='{% static "dist/vendor.css" %}'>
        <script src='{% static "dist/vendor.js" %}'></script>

        <link rel='stylesheet' href='{% static "dist/index.css" %}'>
        <script src='{% static "dist/templates.js" %}'></script>
    </head>
    <body ng-cloak ng-controller='MainController'>
        <header>
            <div class='navigation' layout='row' layout-align='center center'>
                <h1 flex='noshrink' class='nav-text'>Chris Wait</h1>
                <span flex></span>
                <nav layout='row'>
                    <h2><a class='nav-link' href='#' ng-click='scrollToId("blog")'>Blog</a></h2>
                    <h2><a class='nav-link' href='#' ng-click='scrollToId("work")'>Work</a></h2>
                    <h2><a class='nav-link' href='#' ng-click='scrollToId("footer")'>Contact</a></h2>
                </nav>
            </div>
        </header>

        <main>
        <div id='hero'>
            <h1 id='hero-title'>{% block hero %}I make stuff{% endblock %}</h1>
        </div>
        {% block content %}{% endblock %}
        </main>

        <footer id="footer">
            <h1 class='footer-text'>Interested in working together?</h1>
            <a href='mailto:chris@chriswait.net?Subject=Hello!'>
                <div class='footer-button'>
                    <span>Email me</span>
                </div>
            </a>
        </footer>

        <script src='{% static "dist/index.js" %}'></script>
    </body>
</html>

