{% extends "base.html" %}
{% block content %}
    <section id='about'>
        <h2>About</h2>
        <article>
            <p>Software developer with strong focus on user experience, process and team-building. From Scotland, in Australia.</p>
            <p>Trying to keep it generalist, but recently focused on web application development. Fortunate to have worked for startups, agencies, and bigger companies.</p>
            <p>Currently building things in Melbourne. Eventually, wants to write some code that goes to space.</p>
        </article>
        <a href='/about'><h3>More...</h3></a>
    </section>

    <section id='blog'>
        <h2>Blog</h2>
        {% if posts %}
            {% for post in posts %}
                {% include "blog/post.html" %}
            {% endfor %}
        {% else %}
            <div> no posts</div>
        {% endif %}
        <a href='/blog'><h3>More posts...</h3></a>
    </section>

    <section id='work'>
        <h2>Work</h2>
        {% if works %}
            {% for work in works %}
                {% include "work/work_item.html" %}
            {% endfor %}
        {% else %}
            <div> no works </div>
        {% endif %}
        <a href='/work'><h3>More work...</h3></a>
    </section>
{% endblock %}
