{% extends "base.html" %}
{% block content %}
    <section id='about'>
        <div class='content'>
            <h1 class='section-title'>About</h1>
            <div class='section-content'>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
            <div class='section-link-container'>
                <a class='section-link' href='/about'>More stuff...</a>
            </div>
        </div>
    </section>

    <section id='blog' ng-controller="BlogController" data-query="recent">
        <div class='content'>
            <h1 class='section-title'>Blog</h1>
            <blog ng-repeat="post in posts"></blog>
            <div class='section-link-container'>
                <a class='section-link' href='/blog'>More posts...</a>
            </div>
        </div>
    </section>

    <section id='work' ng-controller="WorkController" data-query="front">
        <div class='content'>
            <h1 class='section-title'>Work</h1>
            <work ng-repeat="work in works"></work>
            <div class='section-link-container'>
                <a class='section-link' href='/work'>More work...</a>
            </div>
        </div>
    </section>
{% endblock %}
